* {
    font-family: 'Nunito', 'Lato', 'Montserrat', sans-serif;
}

/******************************* Header section ******************************/
#home {
    background-color: #FAF8ED;
    height: 25vh;
}
#home > p {
    position: relative;
    top: 18px;
    left: 220px;
}
#home > h1 {
    position: relative;
    left: 210px;
}
#home > h2 {
    position: relative;
    left: 210px;
    bottom:20px;
    font-size: small;
}
.flex-container-nav > #navbar {
    display: inline-flex;
    border: 5px solid black;
    gap:15px;
} 
#navbar {
    display: inline-block;
    position: relative;
    bottom: 25px;
    left: 375px;
}
/******************************* Header section ******************************/

/******************************* Main section *******************************/


/*******************************  ABOUT SECTION *****************************/
#about {
    background-color: #004225;
    padding-top: 5px;
    
}
#about-me-content {
    background-color: #FAF8ED;
    width:90%;
    height: 250px;
    border-radius: 40px 40px 0px 0px;
    margin-left: auto;
    margin-right: auto;
}
#about-me-content h2, h3 {
    position: relative;
    top:30px;
    left:50px;
}
#about-me-content h3 {
    position: relative;
    top:10px;
    left:50px;
}
#face-photo{
    width: 220px;
    position: relative;
    left: 477px;;
    bottom: 140px;
    float:left;
}
#about-me-content p{
    position: relative;
    right:160px;
    width:92%;
}

/******************************* ABOUT SECTION ******************************/

/***************************** COMPANIES SECTION **************************/
#companies {
    background-color: #FAF8ED;
    height: 22vh;
}
#companies img {
    width: 68px;
}
.flex-container-logos > img {
    display: inline-flex;
    gap:10px;
    justify-content: center;
    border:5px solid black;
    background-color: white;
    padding:10px;
    border-radius: 20px;
}
/***************************** COMPANIES SECTION ****************************/

/* WORK SECTION */
#work {
    background-color: #FFB000;
    height: 30vh;
}

#work img {
    width:80px;
}

#keyboard-img {
    height: 80px;
}

.grid-container-tech{
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 1fr 1fr 1fr;
    gap:5px;
}
.grid-container-tech > img{
    background-color: white;
    border-radius: 20%;
    padding: 10px;
}
/******************************* WORK SECTION *******************************/

/******************************* CONTACT SECTION ****************************/
#contact {
    background-color: #004225;
    height: 30vh;
}
/******************************* CONTACT SECTION ****************************/
/****************************** Main section *******************************/

/******************************* Footer section *****************************/
footer{
    background-color: #FAF8ED;

}
/******************************* Footer section *****************************/

