* {
    font-family: 'Nunito', 'Lato', 'Montserrat', sans-serif;
    margin:auto;
}

/******************************* Header section ******************************/
#home {
    background-color: #FAF8ED;
    height: 25vh;
    padding-top: 10px;
}
#home > p {
    position: relative;
    top: 18px;
    left: 220px;
}
#home > h1 {
    position: relative;
    left: 210px;
}
#home > h2 {
    position: relative;
    left: 210px;
    font-size: small;
}

/******************************* Header section ******************************/

/******************************* Main section *******************************/


/*******************************  ABOUT SECTION *****************************/
#about {
    background-color: #004225;
    padding-top: 15px;

}
#about-me-content {
    background-color: #FAF8ED;
    width:90%;
    height: 250px;
    border-radius: 40px 40px 0px 0px;
    margin-left: auto;
    margin-right: auto;
}
#about-me-content h2, h3 {
    position: relative;
    top:30px;
    left:50px;
}
#about-me-content h3 {
    position: relative;
    top:25px;
    left:50px;
}
#face-photo{
    width: 220px;
    position: relative;
    left: 491px;;
    bottom: 125px;
    float:left;
}
#about-me-content p{
    position: relative;
    top:25px;
    right:160px;
    width:90%;
}
#about-me-button {
    position: relative;
    top: 20px;
    right: 160px;
}
/******************************* ABOUT SECTION ******************************/

/***************************** COMPANIES SECTION **************************/
#companies {
    background-color: #FAF8ED;
    height: 22vh;
}
#companies img {
    width: 68px;
}
.flex-container-logos > img {
    display: inline-flex;
    gap:10px;
    justify-content: center;
    border:5px solid black;
    background-color: white;
    padding:10px;
    border-radius: 20px;
}
/***************************** COMPANIES SECTION ****************************/

/* WORK SECTION */
#work {
    background-color: #FFB000;
    height: 30vh;
}

.grid-container-tech{
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 1fr 1fr 1fr;
    gap:10px;
    position: relative;
    bottom: 15px;
    left:25%;
}

.grid-container-tech > img{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20%;
    padding: 10px 10px;
    width:80px;
}

#keyboard-img {
    height: 80px;
}
/******************************* WORK SECTION *******************************/

/******************************* CONTACT SECTION ****************************/
#contact {
    background-color: #004225;
    height: 30vh;
    color: white;
    padding-left: 20%;
}
/******************************* CONTACT SECTION ****************************/
/****************************** Main section *******************************/

/******************************* Footer section *****************************/
footer{
    background-color: #FAF8ED;
    height: 50px;
}

footer > p{
    text-align: center;
}
/******************************* Footer section *****************************/

